@model ProjektObiektowe.Models.Lot

<h2>Wprowadz dane lotu</h2>

<form asp-action="EdytujLot" method="post">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label for="selectedLotniskoWylotuId">Lotnisko Wylotu</label>
        <select id="selectedLotniskoWylotuId" name="selectedLotniskoWylotuId" class="form-control @Html.Raw(ViewData.ModelState["selectedLotniskoWylotuId"]?.Errors.Any() == true ? "is-invalid" : "")" asp-items="ViewBag.LotniskaWylotu">
            <option value="">-- Wybierz Lotnisko Wylotu --</option>
        </select>
        <span asp-validation-for="Id_Lotnisko_Wylot" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label for="selectedLotniskoPrzylotuId">Lotnisko Przylotu</label>
        <select id="selectedLotniskoPrzylotuId" name="selectedLotniskoPrzylotuId" class="form-control @Html.Raw(ViewData.ModelState["selectedLotniskoPrzylotuId"]?.Errors.Any() == true ? "is-invalid" : "")" asp-items="ViewBag.LotniskaPrzylotu">
            <option value="">-- Wybierz Lotnisko Przylotu --</option>
        </select>
        <span asp-validation-for="Id_Lotnisko_Przylot" class="invalid-feedback"></span>
    </div>
    <div class="form-group">
        <label for="numerLotu">Numer Lotu</label>
        <input type="text" id="numerLotu" name="numerLotu" value="@Model.Numer" class="form-control @Html.Raw(ViewData.ModelState["numerLotu"]?.Errors.Any() == true ? "is-invalid" : "")" />
        <span asp-validation-for="Numer" class="invalid-feedback"></span>
        @if (ViewData.ModelState["numerLotu"]?.Errors.Any() == true)
        {
            <div class="invalid-feedback">
                Uzupełnij pole i podaj unikalny numer lotu.
            </div>
        }
    </div>
    <div class="form-group">
        <label for="czasWylot">Czas Wylotu</label>
        <input type="datetime-local" id="czasWylot" name="czasWylot" value="@Model.Czas_Wylot.ToString("yyyy-MM-ddTHH:mm")" class="form-control @Html.Raw(ViewData.ModelState["czasWylot"]?.Errors.Any() == true ? "is-invalid" : "")" />
        <span asp-validation-for="Czas_Wylot" class="invalid-feedback"></span>
        @if (ViewData.ModelState["czasWylot"]?.Errors.Any() == true)
        {
            <div class="invalid-feedback">
                Uzupełnij pole.
            </div>
        }
    </div>
    <div class="form-group">
        <label for="czasPrzylot">Czas Przylotu</label>
        <input type="datetime-local" id="czasPrzylot" name="czasPrzylot" value="@Model.Czas_Przylot.ToString("yyyy-MM-ddTHH:mm")" class="form-control @Html.Raw(ViewData.ModelState["czasPrzylot"]?.Errors.Any() == true ? "is-invalid" : "")" />
        <span asp-validation-for="Czas_Przylot" class="invalid-feedback"></span>
        @if (ViewData.ModelState["czasPrzylot"]?.Errors.Any() == true)
        {
            <div class="invalid-feedback">
                Uzupełnij pole.
            </div>
        }
    </div>
    <div class="form-group">
        <label for="idSamolotu">Samolot</label>
        <select id="idSamolotu" name="idSamolotu" class="form-control @Html.Raw(ViewData.ModelState["idSamolotu"]?.Errors.Any() == true ? "is-invalid" : "")" asp-items="ViewBag.Samoloty">
            <option value="">-- Wybierz Samolot --</option>
        </select>
        <span asp-validation-for="Id_Samolot" class="invalid-feedback"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>

<p>
    <a asp-action="WybierzKraje" class="btn btn-secondary >Powrót do wyboru kraju</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
