@model ProjektObiektowe.Models.Lot

@{
    ViewData["Title"] = "Szczegóły lotu";
}

<h2>Szczegóły lotu</h2>

<div class="row">
    <div class="col-md-6">
        <h4>Lotnisko Wylotu</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Kraj:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Wylot.Kraj)</dd>

            <dt class="col-sm-4">Miasto:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Wylot.Miasto)</dd>

            <dt class="col-sm-4">Kod:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Wylot.Kod)</dd>

            <dt class="col-sm-4">Nazwa:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Wylot.Nazwa)</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>Lotnisko Przylotu</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Kraj:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Przylot.Kraj)</dd>

            <dt class="col-sm-4">Miasto:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Przylot.Miasto)</dd>

            <dt class="col-sm-4">Kod:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Przylot.Kod)</dd>

            <dt class="col-sm-4">Nazwa:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Lotnisko_Przylot.Nazwa)</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <h4>Samolot</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Numer:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Samolot.Numer)</dd>

            <dt class="col-sm-4">Marka:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Samolot.Marka)</dd>

            <dt class="col-sm-4">Model:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Samolot.Model)</dd>

            <dt class="col-sm-4">Linia:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Samolot.Linia)</dd>

            <dt class="col-sm-4">Pojemność:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Samolot.Pojemnosc)</dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="EdytujLot" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
