@model IEnumerable<MenedzerZakupuBiletow.Models.Rezerwacja>

<table class="table">
    <thead>
        <tr>
            <th>Numer rezerwacji</th>
            <th>Numer pasażera</th>
            <th>Numer biletu</th>
            <th>Status rezerwacji</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rezerwacja in Model)
        {
            <tr onclick="location.href='@Url.Action("Szczegoly", "Rezerwacja", new { id = rezerwacja.Id })';">
                <td>@rezerwacja.Id</td>
                <td>@rezerwacja.Id_Pasazer</td>
                <td>@rezerwacja.Id_Bilet</td>
                <td>@rezerwacja.Status</td>
            </tr>
        }
    </tbody>
</table>

<style>
    tr {
        cursor: pointer;
    }
</style>