@model MenedzerZakupuBiletow.Models.Rezerwacja

@{
    ViewData["Title"] = "Szczegóły Rezerwacji";
}

<h1>Szczegóły Rezerwacji</h1>

<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Imię
        </dt>
        <dd class="col-sm-10">
            @Model.Pasazer.Imie
        </dd>
        <dt class="col-sm-2">
            Nazwisko
        </dt>
        <dd class="col-sm-10">
            @Model.Pasazer.Nazwisko
        </dd>
        <dt class="col-sm-2">
            Płeć
        </dt>
        <dd class="col-sm-10">
            @Model.Pasazer.Plec
        </dd>
        <dt class="col-sm-2">
            PESEL
        </dt>
        <dd class="col-sm-10">
            @Model.Pasazer.PESEL
        </dd>
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Model.Data
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
        <dt class="col-sm-2">
            Cena
        </dt>
        <dd class="col-sm-10">
            @Model.Cena
        </dd>
        <dt class="col-sm-2">
            Klasa
        </dt>
        <dd class="col-sm-10">
            @Model.Klasa
        </dd>
        <dt class="col-sm-2">
            Bagaz
        </dt>
        <dd class="col-sm-10">
            @Model.Bagaz
        </dd>
        <dt class="col-sm-2">
            Samolot
        </dt>
        <dd class="col-sm-10">
            @Model.Bilet.Lot.Samolot.Marka @Model.Bilet.Lot.Samolot.Model @Model.Bilet.Lot.Samolot.Numer
        </dd>
        <dt class="col-sm-2">
            Lotnisko Startowe
        </dt>
        <dd class="col-sm-10">
            @Model.Bilet.Lot.LotniskoWylot.Miasto @Model.LotniskoWylot?.Kod, @Model.Bilet.Lot.LotniskoWylot.Kraj
        </dd>
        <dt class="col-sm-2">
            Lotnisko Docelowe
        </dt>
        <dd class="col-sm-10">
            @Model.Bilet.Lot.LotniskoPrzylot.Miasto @Model.LotniskoPrzylot.Kod, @Model.Bilet.Lot.LotniskoPrzylot.Kraj
        </dd>
        <dt class="col-sm-2">
            Data wylotu
        </dt>
        <dd class="col-sm-10">
            @Model.Bilet.Lot.Czas_Wylot
        </dd>
        <dt class="col-sm-2">
            Data przylotu
        </dt>
        <dd class="col-sm-10">
            @Model.Bilet.Lot.Czas_Przylot
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    <button class="btn btn-warning" onclick="anulujRezerwacje('@Model.Id')">Anuluj</button>
    <button class="btn btn-danger" onclick="usunRezerwacje('@Model.Id')">Usuń</button>
</div>

@section Scripts {
    <script>
        function anulujRezerwacje(id) {
            if (confirm('Czy na pewno chcesz anulować tę rezerwację?')) {
                window.location.href = '@Url.Action("Anuluj", "Rezerwacja")/' + id;
            }
        }

        function usunRezerwacje(id) {
            if (confirm('Czy na pewno chcesz usunąć tę rezerwację?')) {
                window.location.href = '@Url.Action("Usun", "Rezerwacja")/' + id;
            }
        }
    </script>
}
