@model IEnumerable<ProjektObiektowe.Models.Samolot>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="DodajSamolot" class="btn btn-primary">Dodaj nowy lot</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pojemnosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pojemnosc_Klasa_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pojemnosc_Klasa_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pojemnosc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pojemnosc_Klasa_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pojemnosc_Klasa_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Linia)
                </td>
                <td>
                    <a asp-action="EdytujSamolot" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
