@model List<ProjektObiektowe.Models.Samolot>

@{
    ViewData["Title"] = "Wybierz Samolot";
}

<h2>Wybierz Samolot</h2>

<div>
    <form asp-action="Details" method="get">
        <div class="form-group">
            <label for="selectedSamolot">Wybierz Samolot:</label>
            <select id="selectedSamolot" name="idSamolotu" class="form-control">
                <option value="">Wybierz samolot</option>
                @foreach (var samolot in Model)
                {
                    <option value="@samolot.Id">@samolot.Numer - @samolot.Marka @samolot.Model @samolot.Linia Liczba miejsc: @samolot.Pojemnosc</option>
                }
            </select>
        </div>
        <p>
            <a asp-controller="Lot" asp-action="WybierzKraje" class="btn btn-primary">Dalej</a>

        </p>
    </form>
</div>

<p>
    <a asp-action="DodajSamolot" class="btn btn-primary">Dodaj nowy samolot</a>
</p>
