@* @model IEnumerable<MenedzerZakupuBiletow.Models.Pasazer> *@

<table class="table">
    <thead>
        <tr>
            <th>Numer pasażera</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Płeć</th>
            <th>Numer PESEL</th>
            <th>Typ bagażu</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var pasazer in Model)
        {
            <tr>
                <td>@pasazer.Id</td>
                <td>@pasazer.Imie</td>
                <td>@pasazer.Nazwisko</td>
                <td>@pasazer.Wiek</td>
                <td>@pasazer.Plec</td>
                <td>@pasazer.PESEL</td>
                <td>@pasazer.Bagaz</td>
            </tr>
        } *@
    </tbody>
</table>