@model IEnumerable<MenedzerZakupuBiletow.Models.Pasazer>

@{
    ViewData["Title"] = "Lista Pasażerów";
}

<h1>Lista Pasażerów</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego Pasażera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PESEL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wiek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="PasazerEdit" asp-route-id="@item.Id" class="btn btn-secondary">Edytuj</a>
                <a asp-action="Rezerwacje" asp-route-id="@item.Id" class="btn btn-info">Rezerwacje</a>
                @* @foreach (var rezerwacja in item.Rezerwacje) {
                    Console.WriteLine(rezerwacja);
                }
        
                @if (item.Rezerwacje == null)
                {
                    <p>Rezerwacje są null</p>
                }
                @if (item.Rezerwacje != null && !item.Rezerwacje.Any())
                {
                    <p>Brak rezerwacji</p>
                } *@

                @* @if (item.Rezerwacje != null && !item.Rezerwacje.Any())
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Usuń</a>
                } *@
            </td>
        </tr>
        }
    </tbody>
</table>
