@model IEnumerable<MenedzerZakupuBiletow.Models.Pasazer>

<table class="table">
    <thead>
        <tr>
            <th>Numer pasażera</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Płeć</th>
            <th>Numer PESEL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pasazer in Model)
        {
            <tr onclick="location.href='@Url.Action("Rezerwacje", "Pasazer", new { id = pasazer.Id })'">
                <td>@pasazer.Id</td>
                <td>@pasazer.Imie</td>
                <td>@pasazer.Nazwisko</td>
                <td>@pasazer.Wiek</td>
                <td>@pasazer.Plec</td>
                <td>@pasazer.PESEL</td>
            </tr>
        }
    </tbody>
</table>

<style>
    tr {
        cursor: pointer;
    }
</style>