@model IEnumerable<ProjektObiektowe.Models.Lotnisko>

<p>
    <a asp-action="DodajLotnisko" asp-controller="LotniskoDodaj" class="btn btn-primary">Dodaj nowe lotnisko</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>Miasto</th>
            <th>Kraj</th>
            <th>Kod</th>
            <th>Nazwa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lotnisko in Model)
        {
            <tr>
                <td>@lotnisko.Miasto</td>
                <td>@lotnisko.Kraj</td>
                <td>@lotnisko.Kod</td>
                <td>@lotnisko.Nazwa</td>
                <td><a asp-action="EdytujLotnisko" asp-controller="LotniskoEdytuj" asp-route-id="@lotnisko.Id">Edytuj</a></td>
                <td><a asp-action="UsunLotnisko" asp-controller="LotniskoUsun" asp-route-id="@lotnisko.Id">Usuń</a></td>
            </tr>
        }
    </tbody>
</table>
